{% include 'header.html' %}

<style>
    .myDiv {
      border: 5px outset pink;
      background-color: lavender; 
      text-align: center;
    }
</style>
</head>
<body>
    
<div class="myDiv">
    <h2>About Page</h2>
    <p>About Us!
    </p>
</div>
<div class='jumbotron'>
    <div class='container-fluid'>
        <div class="row justify-content-center">
            <div class="text-center my-3">
                <div class="text-success">
        <h3>I have been fostering cats for 4 years now with my mom. We have lots of experience.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lead">
    <div class='text-muted'>
        <div class="row justify-content-center">
            <div class="text-center my-1">
                <div class='container'>
        <p>One of my craziest experiences was one of the cats we were fostering gave birth to 8 kittens in our bathroom! We took care of them for 8 weeks and adopted them out to our family and friends.</p>
        <p>We even have five of our own cats. Their names are  </p>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-group">
    <ul class="row justify-content-center">
        <li class="list-group-item">Ethel</li>
        <li class="list-group-item">Lucy</li>
        <li class="list-group-item">Rosie</li>
        <li class="list-group-item">Ainsley</li>
        <li class="list-group-item">Lincoln</li>
    </ul>
</ul>
<div class="lead">
    <div class='text-muted'>
        <div class="row justify-content-center">
            <div class="text-center my-1">
                <div class='container'>
        <p>Lincoln is a kitten we were fostering over the summer. He has some health issues and we decided to adopt him!</p>
        <p>It is interesting to see all of the cats interact as they are different ages and have different personalities.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <h4>Ages</h4>
        <dl>
            <dt>Ethel and Lucy</dt>
            <dd>- 11</dd>
            <dt>Rosie and Ainsley</dt>
            <dd>- 5</dd>
            <dt>Lincoln</dt>
            <dd>- 9 months</dd>
        </dl>
    </div>
</div>
    
</body>
</html>

{% include 'footer.html' %}