{% include 'header.html' %}

<style>
    .myDiv {
      border: 5px outset pink;
      background-color: lavender; 
      text-align: center;
    }
</style>
</head>
<body>
    
<div class="myDiv">
    <h2>Contact Page</h2>
    <p>How to Reach Us</p>
</div>
<div class='jumbotron'>
    <div class='container-fluid'>
        <div class="row justify-content-center">
            <div class="text-center my-3">
                <div class="text-danger">
        <h4>Here is my contact info if you have any questions about fostering cats.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-group">
    <li class="list-group-item">Email: KatiesFakeFosteringEmail@gmail.com</li>
    <li class="list-group-item">Phone: 123-456-7890</li>
    <li class="list-group-item">Mailing Address: 278 Marist Ave Poughkeepsie, NY</li>
</ul>
<div class='container-fluid'>
    <div class="row justify-content-center">
        <div class="text-center my-3">
    <h4>You can also leave any questions or comments down below.</h4>
        </div>
    </div>
</div>
<div class='container'>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
</div>
</body>
</html>

{% include 'footer.html' %}