{% include 'header.html' %}

<style>
    .myDiv {
      border: 5px outset pink;
      background-color: lavender; 
      text-align: center;
    }
</style>
</head>
<body>
    
<div class="myDiv">
    <h2>404 Page</h2>
    <p>Error</p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 text-center my-5">
            <h2>Oops! Looks like something went wrong.</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <a href="/" class="btn btn-success">Back to Home Page</a>
        </div>
    </div>
</div>
