{% include 'header.html' %}

<style>
    .myDiv {
        border: 5px outset pink;
        background-color: lavender; 
        text-align: center;
    }
</style>
</head>
<body>


<div class="myDiv">
  <h2>Home Page</h2>
  <p>Welcome to Katie's Website!</p>
</div>
<div class='jumbotron'>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="text-center my-3">
            <h1>This site is all about my experience fostering cats.</h1>
                <div class="text-danger">
            <h5>Disclaimer: It's hard to not get too attached and adopt cats you foster.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary">
    <div class="row justify-content-center">
        <div class="lead">
            <div class="text-center my-1">
                <div class='container'>
                    <h5> Be sure to visit our GitHub repo here! >>>>></h5>
                </div>
            </div>
        </div>
        <div class="col-5 text-center">
            <a href="https://github.com/Katie-s21/CMPT-120L-910-20F" class="btn btn-success">GitHub Repo</a>
        </div>
    </div>
</div>

</body>
</html>

{% include 'footer.html' %}
