{% include 'header.html' %}

<style>
    .myDiv {
        border: 5px outset pink;
        background-color: lavender; 
        text-align: center;
    }
</style>
</head>
<body>
    
    <div class="myDiv">
      <h2>Personality Page</h2>
      <p>All About Me!</p>
    </div>
    <div class='jumbotron'>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="text-center my-3">
                    <div class="text-primary">
        <h3>I love cats and have had them for my whole life.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="lead">
            <div class="text-center my-1">
                <div class='container'>
                    <div class="text-muted">
    <p>I love animals in general. I even went to an agricultral high school. I learned how to take care of small and large animals. I even learned how to drive a tractor and run a green house. Fostering cats was part of a three year long project for my school.</p>
    <p>Am I a cat lady? Perhapse. Are my cat allergies worth it? Sometimes. But at the end of the day, I love having pets in my house.</p>
    <p>If you want to know more about my fostering experience, visit the about page!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 text-center">
            <a href="/about/" class="btn btn-info">About page!</a>
        </div>
    </div>
    
    </body>
    </html>

{% include 'footer.html' %}
  
  
  
  
  


  
  